<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-1'>
              <label> Visitors </label>
            </div>
            <div class='col-md-2'>
              <select class='form-control' [(ngModel)]="selectedGroup" (change)='getAllBuildingList()'>
                <option value='' *ngFor='let group of groupList' [value]='group.id'>{{group.groupName}}</option>
              </select>
            </div>
            <div class='col-md-1'>
              <label> Building </label>
            </div>
            <div class='col-md-2'>
              <select class='form-control' [(ngModel)]="selectedBuilding" (change)='getAllTenantList()'>
                <option *ngFor='let building of buildingList' [value]='building.id'>{{building.buildingName}}</option>
              </select>
            </div>
            <div class='col-md-1'>
              <label> Tenant </label>
            </div>
            <div class='col-md-2'>
              <select class='form-control' [(ngModel)]="selectedTenant" (change)='getTenantNameById()'>
                <option value="all">All</option>
                <option *ngFor='let tenant of tenantList' [value]='tenant.id'>{{tenant.tenantName}}</option>
              </select>
            </div>
            <div class='col-md-1'>
              <label> Date </label>
            </div>
            <div class='col-md-2 , input-group date'>
              <input type="date"  class='form-control'  bsDatePicker [(ngModel)]="selectedDate" />
              
            </div>
            
          </div>
          <div class="row" style="flex-direction: column; margin-top:30px;">
            <button type="button" style='margin:0 4px;' class="btn btn-info add-new pull-right" (click)='getAllVisitorList()'><i class="fa fa-search"></i> Search </button>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Visitors List
          <!--<button type="button" style='margin:0 4px;' class="btn btn-info add-new pull-right" (click)='openModal(visitorModal)'>
            <i class="fa fa-plus"></i> Invite Visitor </button>-->
        </div>
        <div [style.background-color]="'#e1e3e6'"><h3 class='text-center'> Total Number of Visitors : {{getRowsValue(null)}}</h3></div>
        <div class="card-body" >
          
          <table class="table table-bordered table-striped table-condensed table-sm">
            <thead>
              <tr class='text-center'>
                <td>No.</td>
                <td>Visitor Name</td>
                <td>Tenant Unit No.</td>
                <td>Tenant Name</td>
                <td>Contact Name</td>
                <td>Purpose</td>
                <td>Visitor Contact No.</td>
                <!-- <td>Visitor Id</td> -->
                <td>Visit Time</td>
                <td>Visitor Image</td>
                <!--<td>Edit</td>
                <td>Remove</td>-->
              </tr>
            </thead>
            <tbody>
              <tr *ngIf='isVisitorListEmpty'>
                <td colspan='12' class='text-center'>No records found</td>
              </tr>
              <tr ng-if="visitorList.length > 0" *ngFor="let row of visitorList; let i = index" class='text-center'>
                <td>{{i + 1}}</td>
                <td>{{ row.visitorName }}</td>
                <td>{{ row.meetingTenantUnitNo }}</td>
                <td>{{ row.meetingTenantName }}</td>
                <td>{{ row.meetingPersonName }}</td>
                <td>{{ row.meetingPurpose }}</td>
                <td>{{ row.visitorContactNo }}</td>
                <!-- <td><a href="{{ row.visitorIdUrl }}" target="_blank">Id Card</a></td> -->
                <td>{{ row.visitRequestTime }}</td>
                <td > <!-- <a href="{{ row.visitorPhotoUrl }}" target=" ">Photo</a> -->
                  <button *ngIf="row.visitorPhotoUrl" type="button" class="btn btn-info add-new " (click)='openModal(groupModal)'>Photo</button>
                   
                    <ng-template #groupModal let-c="close" let-d="dismiss">
                      
                      <div class="modal-header"  >
                         <h2>{{ row.visitorName }}</h2> 
                         
                        <button type="button" class="close" (click)='closeModal()'>&times;</button>
                      </div>
                      <div class="modal-body" >
                        <img src="{{ row.visitorPhotoUrl }}" alt="image" width="460" height="470" >
                      </div>
                      
                      <h4>{{ row.visitRequestTime }}</h4>
                        
                    </ng-template>
                    

                </td>
                <!--<td (click)='editTenant(row, visitorModal)'>
                  <i class="customIcons cui-pencil"></i>
                </td>
                <td (click)='removeTenant(row)'>
                  <i class="customIcons cui-circle-x"></i>
                </td>-->
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>




<!-- Modal -->
<ng-template #visitorModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <b *ngIf='isUpdate'>Update Tenant</b>
    <b *ngIf='!isUpdate'>Add New Tenant</b>
    <button type="button" class="close" (click)='closeModal()'>&times;</button>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Tenant Name</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter tenant name" autofocus [(ngModel)]='tenant.tenantName' [ngModelOptions]="{standalone: true}"
          name='tenantName' required="required">
      </div>
      <br>
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Tenant Unit no.</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter tenant unit no" autofocus [(ngModel)]='tenant.tenantUnitNo' [ngModelOptions]="{standalone: true}"
               name='tenantUnitNo' required="required">
      </div>
      <br>
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Tenant Working Hours</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter Tenant Work Hours" autofocus [(ngModel)]='tenant.tenantWorkHours'
          [ngModelOptions]="{standalone: true}" name='tenantWorkHours'>
      </div>
      <br>
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Is Deleted ?</span>
        </div>
        <select class="form-control" [(ngModel)]='selectedTenantDeleted' [ngModelOptions]="{standalone: true}" name='tenantIsDeleted'
          required="required">
          <option value='Y'>Yes</option>
          <option value='N'>No</option>
        </select>
      </div>
      <br>
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Tenant Visit Type</span>
        </div>
        <select class="form-control" [(ngModel)]='selectedTenantVisitType' [ngModelOptions]="{standalone: true}" name='tenantVisitType'
          required="required">
          <option value='ADHOC' selected="selected">Adhoc</option>
          <option value='APPOINTMENT'>Appointment</option>
        </select>
        <!--<input type="text" class="form-control" placeholder="Enter tenant Visit Type" autofocus [(ngModel)]='tenant.tenantVisitType'
          [ngModelOptions]="{standalone: true}" name='tenantVisitType' required="required">-->
      </div>
      <br>
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Tenant Status</span>
        </div>
        <select class="form-control" [(ngModel)]='selectedTenantStatus' [ngModelOptions]="{standalone: true}" name='tenantStatus'
          required="required">
          <option value='Active'>Active</option>
          <option value='Inactive'>Inactive</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary btn-block btn-md" *ngIf='!isUpdate' (click)='addNewTenant()'>Add Tenant</button>
        <button class="btn btn-warning btn-block btn-md" *ngIf='isUpdate' (click)='updateTenant()'>Update Tenant</button>
      </div>
    </form>
  </div>
</ng-template>
