{{checkUserInfo()}}
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <form (ngSubmit)="onSignUp()">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <h1>Register User</h1>
                  <p class="text-muted">Register your account</p>
                  <p *ngIf="errorMessage.length > 0" class="text-danger">
                    {{errorMessage}}</p>
                  <p *ngIf="error.message.length > 0" class="text-danger">
                    {{error.message}}</p>
                  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" id="userid" name="userid" required placeholder="Userid" [(ngModel)]='userid'>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" id="username" name="username" required placeholder="Username" [(ngModel)]='username'>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" id="mobile" name="mobile" required placeholder="Mobile" [(ngModel)]='mobile'>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" id="email" name="email" required placeholder="Email" [(ngModel)]='email'>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="password" required class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]='password'>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <select required class="form-control" id="role" name="role" [(ngModel)]='role'>
                      <option value='SELECT_ROLE'>Select Role</option>
                      <option value='STIVI_ADMIN'>ADMIN</option>
                      <option value='STIVI_BUILDING'>BUILDING</option>
                      <option value='STIVI_TENANT'>TENANT</option>
                      <option value='STIVI_GROUP'>GROUP</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Register</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" (click)='login()'>Already Have Account ?</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>
